*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	font-family: "Roboto", "Poppins", Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body,
.body-container {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
body {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/* CSS Global para estilos */

ul {
	list-style-type: none;
}

/* A partir de aquí introduce tus estilos
(estos estilos aplican desde Mobile en adelante hasta  que se sobreescriban en alguna media query) */
:root {
	--accent-bg-color: #f4ede4;
	--primary-text-color: #000;
	--links-text-color: #2162a1;
	--contrast-color: #232f3e;
	--light-gray: #eaeaea;
	--primary-color-btn: #f7ca00;

	--font-size-html: 14px;

	--spacing-xs: 4px;
	--spacing-sm: 8px;
	--spacing-md: 12px;
	--spacing-lg: 16px;
	--spacing-xl: 24px;
	--spacing-2xl: 36px;
	--spacing-3xl: 48px;
	--spacing-4xl: 60px;

	--radius-card: 4px;
	--radius-button: 16px;

	--container-width: 95%;
}
/* ----------------ESTILOS GLOBALES HTML----------- */
html {
	font-size: var(--font-size-html);
	margin-top: var(pad);
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 1.3rem;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1.1rem;
}

h6 {
	font-size: 1rem;
}

p,
a,
span,
input {
	font-size: 1rem;
}

small {
	font-size: 0.7rem;
}

img {
	width: 100%;
}
.body-container {
	display: flex;
	flex-direction: column;
}

.container {
	width: var(--container-width);
	margin: 0 auto;
}

/* ---------------HEADER----------------------- */
.header-login {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
}
/* ----------------MAIN-------------------------- */

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.login-section {
	display: flex;
	justify-content: center;
}

.card-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--spacing-sm);

	border: 1px solid rgb(225, 225, 225);
	border-radius: var(--radius-card);
	padding: var(--spacing-md);
}
/* -------MAIN / FORM------ */
.user-content {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

.user-content .input-name {
	padding: var(--spacing-sm);
	border: 1px solid gray;
	border-radius: var(--radius-card);
	background-color: #e8f0fe;
}

.user-content .continue-btn-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.continue-btn-container .continue-btn {
	padding: var(--spacing-sm);
	border: none;
	border-radius: var(--radius-button);

	text-align: center;
	background-color: #f8d524;
}

.continue-btn-container .continue-btn:hover {
	background-color: #f7ca00;
}

.user-info {
	display: flex;
	padding: var(--spacing-xs);
}

.user-info a {
	text-decoration: underline;
	text-underline-offset: 2px;
	color: var(--links-text-color);
}

.user-info a:hover {
	color: var(--primary-text-color);
}

.separator {
	width: 100%;
	height: 1px;
	background-color: gray;
}

.help-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	padding: var(--spacing-md) 0px;
}

.help-container > h5 {
	color: var(--links-text-color);
}

.help-container > h5:hover {
	text-decoration: underline;
	color: var(--primary-text-color);
}

.help-container > .icon-container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 12px;
}

.business-shop-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;

	padding: var(--spacing-md) 0px;
}

.business-shop-container > a {
	color: var(--links-text-color);
}

.business-shop-container > a:hover {
	text-decoration: underline;
	color: var(--primary-text-color);
}

/* ----------SECCION 'NUEVO EN AMAZON'------------- */
.new-on-amazon-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	align-self: stretch;

	padding: var(--spacing-sm) 0;
}

.new-on-amazon-section .text-new-on-amazon-section-container {
	display: flex;
	align-items: center;
	gap: 0.4rem;

	max-width: 360px;
}

.button-new-on-amazon-section-container {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: stretch;
}

.new-user-btn {
	border: 1px solid gray;
	border-radius: var(--radius-button);
	background-color: white;
	padding: var(--spacing-sm);
	transition: 1s ease;
}

.new-user-btn:hover {
	background-color: #E8F0FE;
}

/* -----------FOOTER------------- */
.footer-login {
	display: flex;
	flex: 1;

	padding: 20px 0;
}

.footer-container-login {
	width: 100%;
}

.footer-links-login {
	color: var(--links-text-color);
	font-size: 10px;
	text-align: center;
	padding: 4px;
}

.copyright {
	font-size: 10px;
	text-align: center;
	color: gray;
}
