*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	font-family: "Roboto", "Poppins", Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
body {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/* CSS Global para estilos */

ul {
	list-style-type: none;
}

/* A partir de aquí introduce tus estilos
(estos estilos aplican desde Mobile en adelante hasta  que se sobreescriban en alguna media query) */

:root {
	--accent-bg-color: #f4ede4;
	--primary-text-color: #000;
	--secondary-text-color: #ffffff;
	--links-text-color: #2162a1;
	--contrast-color: #232f3e;
	--light-gray: #eaeaea;
	--primary-color-btn: #f4bb71;
	--secondary-color-btn: #f3a847;

	--font-size-html: 14px;

	--spacing-xs: 4px;
	--spacing-sm: 8px;
	--spacing-md: 12px;
	--spacing-lg: 16px;
	--spacing-xl: 24px;
	--spacing-2xl: 36px;
	--spacing-3xl: 48px;
	--spacing-4xl: 60px;

	--radius-card: 4px;
	--radius-button: 16px;

	--container-width: 95%;
}

/* ----------------ESTILOS GLOBALES HTML----------- */
html {
	font-size: var(--font-size-html);
	margin-top: var(pad);
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 1.3rem;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1.1rem;
}

h6 {
	font-size: 1rem;
}

p,
a,
span,
input,
button {
	font-size: 1rem;
}

small {
	font-size: 0.7rem;
}

img {
	width: 100%;
}

body .dont-show {
	display: none;

}


.body-container {
	display: flex;
	flex-direction: column;
}

.container {
	width: var(--container-width);
	margin: 0 auto;
}

.btn-style {
	padding: var(--spacing-sm);
	border: none;
	border-radius: var(--radius-button);
}

.separator {
	background-color: #e1e1e1;
	height: 1px;
	width: 100%;
}

.footer-separator {
	background-color: #2f3a48;
}

/* ---------------LOGIN SECTION----------------------- */
.login-background-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-2xl);

	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: var(--spacing-md);
	background-color: white;
}

.header-login {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 200px;
}

.login-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--spacing-sm);

	border: 1px solid #e1e1e1;
	border-radius: var(--radius-card);
	max-width: 320px;
	padding: var(--spacing-md);
}

.user-content {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

.user-content .input-name {
	background-color: #e8f0fe;
	border: 1px solid #e1e1e1;
	border-radius: var(--radius-card);
	padding: var(--spacing-sm);
	outline: none;
}

.user-content .input-name:focus {
	border-color: gray;
}

.user-content .continue-btn-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.continue-btn-container .continue-btn {
	background-color: #f8d524;
	border: none;
	border-radius: var(--radius-button);
	padding: var(--spacing-sm);
	transition: 0.5s linear;
	text-align: center;
}

.continue-btn-container .continue-btn:hover {
	background-color: #cda801;
}

.user-info {
	display: flex;
	padding: var(--spacing-xs);
}

.user-info a {
	color: var(--links-text-color);
	text-decoration: underline;
	text-underline-offset: 2px;
}

.user-info a:hover {
	color: var(--primary-text-color);
}

.help-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	padding: var(--spacing-md) 0px;
}

.help-container > h5 {
	color: var(--links-text-color);
}

.help-container > h5:hover {
	color: var(--primary-text-color);
	text-decoration: underline;
}

.help-container > .icon-container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 1rem;
}

.business-shop-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;

	padding: var(--spacing-md) 0px;
}

.business-shop-container > a {
	color: var(--links-text-color);
}

.business-shop-container > a:hover {
	text-decoration: underline;
	color: var(--primary-text-color);
}

.new-on-amazon-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: stretch;
	flex: 1;
	gap: 1rem;

	padding: var(--spacing-sm) 0;
}

.new-on-amazon-section .text-new-on-amazon-section-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-new-on-amazon-section-container {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: stretch;
}

.new-user-btn {
	background-color: transparent;
	border: 1px solid gray;
	border-radius: var(--radius-button);
	padding: var(--spacing-sm);
	transition: 0.5s linear;
}

.new-user-btn:hover {
	background-color: rgb(230, 230, 230, 0.5);
}

/* ----------------  HEADER   -------------------------- */
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;

	background-color: #131921;
	padding: var(--spacing-md);
}

.header p,
.header h5 {
	color: white;
}

.header span,
.span-floating-products-on-trolly {
	color: var(--secondary-color-btn);
}

.logo-header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;

	width: 200px;
}

.search-container {
	display: flex;
	justify-content: center;
}

.search-container input {
	flex: 1;

	border: none;
	border-top-left-radius: var(--radius-card);
	border-bottom-left-radius: var(--radius-card);
	padding: var(--spacing-lg);
	outline: none;
}

.search-container button {
	display: flex;
	justify-content: center;

	background-color: var(--primary-color-btn);
	border: none;
	border-top-right-radius: var(--radius-card);
	border-bottom-right-radius: var(--radius-card);
	padding: var(--spacing-sm);
	width: 3rem;
}

.user-trolly-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.account-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;

	position: relative;
	visibility: visible;
}

.account-container:hover {
	visibility: hidden;
}
.title-for-account-and-icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.1rem;
}

.icon-account-arrow-container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 0.5rem;
}
/* ----LogOut Seson Container---- */
.menu-logout-container {
	display: flex;
	justify-content: center;
	align-items: center;
	
	position: absolute;
	top: 0;
	right: -20px;
	bottom: 0;
	left: 0;
	visibility: hidden;
	background-color: #131921;
}

/* .account-container:hover .menu-logout-container {
	visibility: visible;
} */

.wishlist-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;

	cursor: pointer;
}

.wishlist-container .div-icon-heart-container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 2rem;
}

.trolly-for-products-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;

	cursor: pointer;
}

.icon-trolly-container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 2rem;
}

.icon-trolly-container button {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;

	cursor: pointer;
}

.floating-trolly-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: fixed;
	background-color: #131921;
	box-shadow: 0px 0px 0px 4px var(--primary-color-btn);
	opacity: 0.8;
	top: -80px;
	right: 40px;
	height: 48px;
	width: 48px;
	border: none;
	border-radius: 50%;
	transition-duration: 0.3s;
}

.floating-trolly-button:hover {
	transition-duration: 0.5s;
	opacity: 1;
}


.floating-trolly-button button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: 1;

	width: 30px;
	border: none;
	background-color: transparent;
}

/* ----------------------------------MAIN----------------------------- */

main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex: 1;

	padding-bottom: var(--spacing-sm);
}

/* -------------BARRA ACCESO FILTRADO (CATEGORIAS)------------- */
.electronics-categories-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	padding: var(--spacing-md);
	border-bottom: 1px solid lightgray;
	overflow: auto;
}

.electronics-categories-container button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	background-color: transparent;
	border: 2px solid transparent;
	cursor: pointer;
}

.electronics-categories-container button:hover {
	border-bottom: 2px solid var(--secondary-color-btn);
}

.electronics-categories-container .arrow-icon-container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 0.5rem;
}

/* --------------SECCION DE PRODUCTOS ------------------- */
.catalog-section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.catalog-section .category-title {
	font-weight: 400;
	padding-top: var(--spacing-sm);
}

.products-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	padding: 0px var(--spacing-md);
}

.product-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	padding: var(--spacing-xs);
	border-radius: var(--radius-card);
}

.img-product-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.card-information-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;

	padding: var(--spacing-sm);
}

.product-card .product-name {
	display: -webkit-box;
	line-clamp: initial;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;

	overflow: hidden;
	text-overflow: ellipsis;
}

.buttons-card-container {
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	align-items: center;
}

.buttons-card-container button {
	flex: 1;
}

.buttons-card-container button:hover {
	filter: brightness(95%);
}

.buttons-card-container .btn-add-to-wish-list {
	background-color: #fbdc40;
}

.buttons-card-container .btn-add-to-trolly {
	background-color: var(--secondary-color-btn);
}

/* --------------------SECTION FOR WISH LIST PRODUCTS -------------------------- */

.wishlist-container-section {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.products-on-wish-list-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	padding: 0px var(--spacing-md);
}

.wished-product-card {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	border-radius: var(--radius-card);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	padding: var(--spacing-md) var(--spacing-xs);
}

.wished-product-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.wished-product-info-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 0.5rem;
}

.btn-remove-wish-list {
	padding: var(--spacing-sm);
	background-color: var(--secondary-color-btn);
	transition: all 1s linear;
}

.btn-remove-wish-list:hover {
	filter: brightness(85%);
}

/* --------------SECTION FOR TROLLY CATALOG----------- */
.trolly-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.title-of-trolly {
	font-weight: 400;
	padding-top: var(--spacing-sm);
}

.product-on-trolly-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	padding: var(--spacing-sm);
}

.trolly-card {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	border-radius: var(--radius-card);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	padding: var(--spacing-sm) var(--spacing-xs);
}

.card-trolly-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-info-trolly-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 0.5rem;
}
/*  QuantityProductsDisplay Styles */
.div-control-quantity-buttons-container {
	display: flex;
	justify-content: center;

	padding: 0 var(--spacing-4xl);
}

.btn-decrease-quantity-product {
	background-color: var(--primary-color-btn);
	border: none;
	border-top-left-radius: var(--radius-button);
	border-bottom-left-radius: var(--radius-button);
	flex-basis: 20%;
	padding: var(--spacing-sm) 0;
}

.container-quantity-product-display {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;

	border-top: 1px solid var(--primary-color-btn);
	border-bottom: 1px solid var(--primary-color-btn);
}

.btn-increase-quantity-product {
	background-color: var(--primary-color-btn);
	border: none;
	border-top-right-radius: var(--radius-button);
	border-bottom-right-radius: var(--radius-button);
	flex-basis: 20%;
	padding: var(--spacing-sm) 0;
}

.btn-decrease-quantity-product:hover, .btn-increase-quantity-product:hover {
	filter: brightness(85%);
	transition-duration: 0.3s;
}

.btn-remove-from-trolly {
	background-color: var(--secondary-color-btn);
	padding: var(--spacing-sm);
}

.btn-remove-from-trolly:hover,
.btn-pay:hover,
.btn-clear-cart:hover,
.reset-wishlist:hover {
	filter: brightness(95%);
}

.total-price-container,
.wishlist-buttons-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.btn-pay,
.btn-clear-cart,
.reset-wishlist {
	font-size: 18px;
	border-radius: 8px;
	border: none;
	background-color: var(--secondary-color-btn);
	padding: var(--spacing-sm);
}

/* -----------FOOTER------------- */

/* --------styles for btn BackToTop-------- */
.btn-back-to-top {
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	bottom: -50px;
	right: 40px;

	background-color: rgb(20, 20, 20);
	border: none;
	box-shadow: 0px 0px 0px 4px var(--primary-color-btn);
	cursor: pointer;
	font-weight: 500;
	height: 48px;
	opacity: 0.8;
	overflow: hidden;
	transition-duration: 0.3s;
	width: 48px;
	border-radius: 50%;
	padding: 0;
}

.svgIcon {
	width: 8px;
	transition-duration: 0.3s;
}

.svgIcon path {
	fill: var(--primary-color-btn);
}

.btn-back-to-top::before {
	position: relative;
	bottom: -20px;
	content: "Back to Top";
	color: var(--primary-text-color);
	transition-duration: 0.3s;
	font-size: 0px;
}

/* --------------------------------------------------------------- */
.footer {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	background-color: var(--contrast-color);
	padding: var(--spacing-xl) var(--spacing-sm);
}

/* estilos para todos los enlaces del footer */
.footer a {
	color: var(--secondary-text-color);
	filter: brightness(75%);
	font-size: 0.8rem;
}

.footer a:hover {
	text-decoration: underline;
	text-underline-offset: 2px;
}

.footer-links-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.footer-links {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	color: var(--secondary-text-color);
}

.amazon-countries-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.amazon-logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;

	width: 100px;
}

.amazon-countries {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;

	color: var(--secondary-text-color);
}

.copyright-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.copyright-info {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.copyright-content {
	color: var(--secondary-text-color);
}
